@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}



.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

container {
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.carousel-item img {
  object-fit: cover;
  object-position: top;
  height: 60vh;
  overflow: hidden;
}

.old_price {
    font-weight: bold;
    color: black;
}

.new_price {
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 5px;
}

.doublebold {
    font-weight: 700;
}

.btn-style {
    display: inline-block;
    padding: 10px 20px;
    background-color:F5f5dc;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.msgcss {
    margin-top: 48px;
    margin-bottom: 0px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

#txtQty {
    font-weight: bold;
}

.button-91 {
  color: #fff;
  padding: 8px 15px;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-image-height {
    height: 300px;
    object-fit: cover;
}

.custom-title {
    color: black;
}

.content {
    min-height: 100%;
    margin-bottom: -{footer height}px;
}

footer {
    height: {footer height}px;
}

.expand-button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0; /* Adjust padding as needed */
    background-color: #007bff; /* Change to your desired background color */
    color: #fff; /* Change to your desired text color */
    text-decoration: none;
}

.expand-button:hover {
    background-color: #0056b3; /* Change to your desired hover color */
}

/* Style for the review section */
.reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-item {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
}

.review-header {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.review-content {
    font-size: 14px;
    color: #666;
}
